/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    font-size: 62.5%;
}

body { 
    margin: 0; 
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: #2B2B2B;
    overflow-y: hidden;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.fill{
    width: 100%;
    height: 100%;
}

.main-content{
    padding-right: 10rem;
    padding-left: 10rem;
}

textarea{
    outline: none;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    resize: none;
    line-height: 25px;
}

.textfield{
    background-color: #484848;
    font-size: 1.6rem;
    letter-spacing: -0.1rem;
    border-style: solid;
    border-color: #747474;
    border-width: 4px;
    padding: 20px;
    line-height: 25px;
}

.text-center{
    text-align: center;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

